*{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 60px;
    background-color: rgb(52, 47, 47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(250, 236, 219);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

#containerTopo{
    text-align: center;
    margin-top: 20px;
}

.linha{
    height: 2px;
    width: 600px;
    background-color: red;
    margin: 10px auto;
}

#containerEli{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(170, 169, 169);
    width: 55%;
    max-width: 800px;
    border-radius: 5px;
    margin-top: 20px;

}

#containerEli picture{
    text-align: center;
}

#containerEli img{
    max-width: 90%;
    margin-bottom: 15px;
}

#containerEli p{
    font-size: 9px;
    text-align: center;
    color: gray;
    margin: 0px 10px;
}

#containerEli h3{
    margin-top: 15px;
    margin-bottom: 15px ;
}

#containerEli a{
    text-decoration: none;
    background-color: rgb(238, 30, 72);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

#subTexto{
    text-align: center;
    width: 55%;
    max-width: 800px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#subTexto p{
    font-size: 12px;
    font-weight: 500;
}

#containerArtTopo{
    text-align: center;
}

.quadro{
    width: 200px;
    height: 220px;
    border: 1px solid rgb(170, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    margin: 20px 5px;
}

.quadro img{
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quadro h3{
    margin-top: 10px;
}

.quadro p{
    color: rgb(93, 87, 87);
    font-size: 12px;
}

.quadro a{
    text-decoration: none;
    background-color: rgb(238, 30, 72);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

#containerArt{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#rodape{
    width: 100%;
    height: 40px;
    background-color: rgb(52, 47, 47);
    text-align: center;
}

#rodape p{
    color: rgb(250, 236, 219);
    font-size: 10px;
    padding-top: 15px;
}

#menuMobile{
    display: none;
}

#btnMobile{
    display: none;
}