*{
    margin: 0 auto;
    padding: 0;
}

.cabecalho{
    width: 100%;
    height: 150px;
    background-color: blanchedalmond;
    text-align: center;
}
 
#logo h2{
    color: rgb(161, 117, 139);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: #e0cdb1;
    width: 80%;
    height: 900px;
    margin-top: 14px;
}

body{
    background-color: #ffffff;
}

#img1{
width: 300px;
    
}